<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
    {{ if .is404 }}
    <title>Заявка не найдена</title>
    {{ else }}
    <title>Запрос #{{ .playerRequest.ID }} - {{ .playerRequest.Nickname }}</title>
    {{ end }}
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>

<div class="container">

    <header class="header">
        <a href="/all-locations"><button class="nav-button">Все локации</button></a>
    </header>

    {{ if .is404 }}
    <div class="favorites-content">
        <h1>Заявка не найдена</h1>
    </div>
    {{ else }}
    <div class="favorites-content">
        <h1>Запрос локаций #{{ .playerRequest.ID }}</h1>
        <p class="player-nickname">Игрок: </p>
    </div>


    <div class="favorites-list">
        <div class="favorite-row favorite-header">
            <div class="favorite-image-header">Локация</div>
            <div class="favorite-name-header">Название</div>
            <div class="favorite-description-header">Описание</div>
            <div class="favorite-extra-header">Приоритет</div>
            <div class="favorite-extra-header">Выбор</div>
        </div>

        {{ range .chosenLocations }}
        {{ $locationID := .LocationID }}
        {{ $priority := .Priority }}
        {{ range $.locations }}
        {{ if eq .ID $locationID }}
        <div class="favorite-row">
            <div class="favorite-image">
                <img src="{{ .ImagePath.String }}">
            </div>
            <div class="favorite-name">{{ .Name }}</div>
            <div class="favorite-description">{{ .Description }}</div>
            <div class="favorite-extra">{{ $priority }}</div>
            <div class="favorite-extra">
                {{ if eq $.playerRequest.RandomedLocation $locationID }} {{ end }}
            </div>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>

    <form action="/fav-locations/{{ .playerRequest.ID }}/delete-request" method="POST" class="delete-request-form">
        <button type="submit" class="delete-request-button">Удалить заявку</button>
    </form>
    {{ end }}

</div>

</body>
</html>
